.more-text {
font-family: "roboX", monospace;
font-size: 16px;
color: black;
transform: scaleY(0.9);
transform-origin: center;
}
.more-info {
font-family: "interX", "notoX", sans-serif;
}
.more-text-content {
margin-left: 8px;
margin-right: 8px;
margin-bottom: 4px;
text-align: left;
}
.more-text-content pre {
font-family: "interX", "notoX", sans-serif;
color: #333333;
white-space: pre-wrap;
word-wrap: break-word;
}