.more-text {
font-family: "roboX", monospace;
font-size: 16px;
color: black;
transform: scaleY(0.9);
transform-origin: center;
}
.more-info {
font-family: "interX", "notoX", sans-serif;
}
.more-text-content {
margin-left: 8px;
margin-right: 8px;
text-align: left;
}
.more-text-content pre {
font-family: "interX", "notoX", sans-serif;
color: #333333;
white-space: pre-wrap;
word-wrap: break-word;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 0px;
margin-right: 0px;
}
.more-text-na {
padding-right: 8px;
padding-left: 16px;
color: lightgray;
font-family: "roboX", monospace;
font-size: 16px;
transform: scaleY(0.9);
transform-origin: center;
white-space: nowrap;
}
.post-bottom-bar {
padding-top: 0px;
}