.more-text {
font-family: "roboX", monospace;
font-size: 16px;
color: black;
transform: scaleY(0.9);
transform-origin: center;
}
.more-info {
font-family: "interX", "notoX", sans-serif;
}
.more-text-content {
font-family: "interX", "notoX", sans-serif;
}