html,body {
-ms-overflow-style: none;
scrollbar-width: none;
}
::-webkit-scrollbar-track {
background: white;
}
::-webkit-scrollbar-thumb {
background: white;
}
::-webkit-scrollbar {
display: none;
}
html,body {
height: 100%;
margin: 0;
padding: 0;
background-color: #F1F3F4;
}
.main-body-outer {
display: block;
width: calc(100% - 8px);
max-width: 600px;
height: auto;
margin: 0 auto;
}
.inter-gap {
height: 4px;
font-size: 1px;
line-height: 1;
}
.asp45 {
width: calc(100vw - 8px); 
height: calc((100vw - 8px) * 5 / 4);
}
.asp11 {
width: calc(100vw - 8px);
height: calc(100vw - 8px);
}
.post-top-bar {
height: 20px;
background-color: transparent;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top: 2px solid #ECECEC;
border-left: 2px solid #ECECEC;
border-right: 2px solid #ECECEC;
box-sizing: border-box;
margin-top: 8px;
}
.post-bottom-bar {
height: 20px;
background-color: transparent;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom: 2px solid #ECECEC;
border-left: 2px solid #ECECEC;
border-right: 2px solid #ECECEC;
box-sizing: border-box;
margin-bottom: 8px;
box-shadow: 0px 5px 5px #a1a1a1;
}