body {
user-select: none;
-webkit-user-select: none;
}
* {
-webkit-tap-highlight-color: transparent;
}
html,body {
-ms-overflow-style: none;
scrollbar-width: none;
}
::-webkit-scrollbar-track {
background: white;
}
::-webkit-scrollbar-thumb {
background: white;
}
::-webkit-scrollbar {
display: none;
}
html,body {
height: 100%;
margin: 0;
padding: 0;
background-color: #F1F3F4;
}
.main-body-outer {
display: block;
width: calc(100% - 8px);
max-width: 600px;
height: auto;
margin: 0 auto;
background: #F1F3F4;
}
.asp45 {
width: calc(100vw - 8px); 
height: calc((100vw - 8px) * 5 / 4);
}
.asp11 {
width: calc(100vw - 8px);
height: calc(100vw - 8px);
}
[class^="obsi"] {
background: white;
max-width: 100%;
border-left: 1px solid #DADCE0;
border-right: 1px solid #DADCE0;
box-sizing: border-box;
}
.post-top-bar {
height: 35px;
background-color: white;
border-top: 1px solid #DADCE0;
border-left: 1px solid #DADCE0;
border-right: 1px solid #DADCE0;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
margin-top: 8px;
box-sizing: border-box;
}
.post-bottom-bar {
height: 35px;
background-color: white;
border-bottom: 1px solid #DADCE0;
border-left: 1px solid #DADCE0;
border-right: 1px solid #DADCE0;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
margin-bottom: 8px;
box-sizing: border-box;
box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2);
}