.post-top-left {
width: 99%;
padding-left: 6px;
display: inline-flex;
align-items: center;
height: 100%;
font-family: sans-serif;
color: #333333;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
box-sizing: border-box;
font-size: 14px;
}
.avatar-circle {
width: 24px;
height: 24px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
color: white;
margin-right: 6px;
flex-shrink: 0;
font-family: sans-serif;
}