.post-top-left {
width: 75%;
padding-left: 6px;
display: flex;
align-items: center;
font-family: sans-serif;
color: #666666;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
float: left;
box-sizing: border-box;
}
.post-top-right {
width: 25%;
padding-right: 6px;
display: flex;
align-items: center;
justify-content: flex-end;
font-family: sans-serif;
color: #999999;
float: right;
box-sizing: border-box;
}