post-top-left {
width: 75%;
padding-left: 6px;
display: inline-block;
vertical-align: middle;
height: 100%;
line-height: 20px;
font-family: sans-serif;
color: #333333;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
box-sizing: border-box;
}
.post-top-right {
width: 25%;
padding-right: 6px;
display: inline-block;
vertical-align: middle;
height: 100%;
line-height: 20px;
font-family: sans-serif;
color: #BBBBBB;
text-align: right;
box-sizing: border-box;
}