.post-top-left {
width: 75%;
padding-left: 6px;
display: inline-flex;
align-items: center;
height: 100%;
font-family: sans-serif;
color: #333333;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
box-sizing: border-box;
}
.post-top-right {
width: 25%;
padding-right: 6px;
display: inline-flex;
align-items: center;
justify-content: flex-end;
height: 100%;
font-family: sans-serif;
color: #BBBBBB;
box-sizing: border-box;
}
.post-top-left i {
color: inherit;
font-size: 14px;
margin-right: 4px;
display: flex;
align-items: center;
}