@font-face {
font-family: interX;
src: url('Inter.ttf') format('truetype');
}
.post-top-left {
width: 80%;
padding-left: 6px;
display: inline-flex;
align-items: center;
height: 100%;
font-family: sans-serif;
color: #333333;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
box-sizing: border-box;
font-size: 14px;
font-weight: bold;
}
.avatar-circle {
width: 28px;
height: 28px;
border-radius: 50%;
display: grid;
place-items: center;
margin-right: 6px;
flex-shrink: 0;
background: none;
}
.avatar-circle p {
font-family: interX;
font-size: 14px;
font-weight: 700;
color: white;
margin: 0;
padding: 0;
margin-top: 1px;
line-height: 1;
}
.post-top-right {
float: right;
display: inline-flex;
align-items: center;
justify-content: flex-end;
text-align: right;
margin-right: 8px;
height: 100%;
font-size: 12px;
font-weight: normal;
color: grey;
font-family: sans-serif;
box-sizing: border-box;
}