@font-face {
font-family: interX;
src: url('Inter.ttf') format('truetype');
}
@font-face {
font-family: notoX;
src: url('Noto.ttf') format('truetype');
}
@font-face {
font-family: roboX;
src: url('Robo.ttf') format('truetype');
}
.post-top-left {
width: 80%;
padding-left: 6px;
display: inline-flex;
align-items: center;
height: 100%;
font-family: sans-serif;
color: #333333;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
box-sizing: border-box;
font-size: 14px;
font-weight: bold;
}
.avatar-circle {
width: 28px;
height: 28px;
border-radius: 50%;
/*display: grid;
place-items: center;
margin-right: 6px;
flex-shrink: 0;
background: none;*/
display: flex;
align-items: center;
justify-content: center;
margin-right: 6px;
}
.avatar-circle i {
font-size: 11px;
font-weight: 900;
color: white;
line-height: 1;
display: inline-block;
width: auto;
height: 11px;
margin: 0;
padding: 0;
}
.post-top-right {
float: right;
display: inline-flex;
align-items: center;
justify-content: flex-end;
text-align: right;
margin-right: 8px;
height: 100%;
font-size: 13px;
font-weight: normal;
color: grey;
font-family: 'interX';
box-sizing: border-box;
}
.post-bottom-content {
width: 40%;
margin-left: auto;
display: flex;
justify-content: flex-end;
align-items: center;
height: 100%;
box-sizing: border-box;
}
.report-btn,
.share-btn {
background: none;
border: none;
cursor: pointer;
padding: 0 20px;
font-size: 16px;
}
.report-btn i,
.share-btn i {
color: #444;
}
.more-text {
padding-right: 8px;
padding-left: 16px;
font-family: sans-serif;
font-size: 16px;
color: #444;
}
.avatar-circle {
position: relative;
}
.avatar-circle .mini-fa {
position: absolute;
font-size: 6px;
line-height: 1;
color: white;
left: 18px;
display: none;
}