.post-top-left {
width: 99%;
padding-left: 6px;
display: inline-flex;
align-items: center;
height: 100%;
font-family: sans-serif;
color: #333333;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
box-sizing: border-box;
font-size: 14px;
font-weight: bold;
}
.avatar-circle {
width: 28px;
height: 28px;
border-radius: 50%;
display: grid;
place-items: center;
font-size: 14px;
font-weight: 700;
color: white;
margin-right: 6px;
flex-shrink: 0;
}